{% load static %}
{% load i18n %}
{% load translate_numbers_tag %}
<!-- ABOUT -->
<div id="about" class="iknow_tm_main_section">
    <div class="iknow_tm_about">
        <div class="left">
            <div class="left_inner">
                <div class="image">
                    <img src="{% static 'img/thumbs/35-44.jpg' %}" alt=""/>
                    {% if about_me.file %}
                        <div class="main" data-img-url="{{ about_me.file.url }}"></div>
                    {% else %}
                        <div class="main" data-img-url="{{ about_me.image.url }}"></div>

                    {% endif %}
                </div>
                <div class="details">
                    <ul>
                        <li>
                            <h3>{% trans 'Name' %}</h3>
                            <span>{{ about_me.name_i18n }} {{ about_me.last_name_i18n }}</span>
                        </li>
                        <li>
                            <h3>{% trans 'age' %}</h3>
                            <span>{{ about_me.get_age_year|translate }}</span>
                        </li>
                        <li>
                            <h3>{% trans 'Email' %}</h3>
                            <span>{{ about_me.email }}</span>
                        </li>
                        <li>
                            <h3>{% trans 'Phone' %}</h3>
                            <span>{{ about_me.phone_number|translate }}</span>
                        </li>
                        <li>
                            <h3>{% trans 'Nationality' %}</h3>
                            <span>{{ about_me.nationality_i18n }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="iknow_tm_main_title">
                <span>{% trans 'About Me' %}</span>
                <h3>{{ about_me.bio_i18n }}</h3>
            </div>
            <div class="bigger_text">
                <p></p>
            </div>
            <div class="text">
                <p>{{ about_me.description_i18n|safe }}</p>
            </div>
        </div>
    </div>
</div>
<!-- /ABOUT -->