{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Sing Up' %}
{% endblock %}

{% block context %}
    <div class="portfolio_filter">

        <!-- Nothing -->
    </div>
    <div class="container">
        <div class="iknow_tm_mainpart">
            <div class="iknow_tm_contact">
                <div class="iknow_tm_main_title">
                    <span>{% trans 'Sing Up' %}</span>
                    <h3></h3>
                </div>
                <div class="wrapper">
                    <div class="right">
                        <div class="fields">
                            <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
                                {% csrf_token %}
                                <div class="empty_notice"><span>Please Fill Required Fields</span></div>
                                <div class="input_list">
                                    <ul>
                                        <li><label>
                                            <input name="username" type="text" placeholder="{% trans 'Your Name' %}"/>
                                        </label></li>
                                        <li><label>
                                            <input name="email" type="email" placeholder="{% trans 'Your Email' %}"/>
                                        </label></li>
                                        <li><label>
                                            <input name="password1" type="password"
                                                   placeholder="{% trans 'Your Password' %}"/>
                                        </label></li>
                                        <li><label>
                                            <input name="password2" type="password"
                                                   placeholder="{% trans 'Your Password Again' %}"/>
                                        </label></li>
                                        <li><label>
                                            <input name="profile" type="file" placeholder="{% trans 'Your Photo' %}"/>
                                        </label></li>
                                    </ul>
                                </div>
                                <div class="iknow_tm_button">
                                    <input id="send_message" type="submit" value="{% trans 'Singup' %}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
