	<!-- MAINPART -->
	<div class="container">
		<div class="iknow_tm_mainpart">

			<!-- ABOUT -->
            {% include 'inc/main/about.html' %}
			<!-- /ABOUT -->

			<!-- RESUME -->
            {% include 'inc/main/resume.html' %}
			<!-- /RESUME -->

			<!-- PORTFOLIO -->
            {% include 'inc/main/portfolio.html' %}
			<!-- /PORTFOLIO -->

			<!-- SERVICES -->
            {% include 'inc/main/services.html' %}
			<!-- /SERVICES -->


			<!-- TESTIMONIALS -->
            {% include 'inc/main/testimonials.html' %}
			<!-- /TESTIMONIALS -->

			<!-- Blog -->
            {% include 'inc/main/blog.html' %}
			<!-- /Blog -->

			<!-- CONTACT -->
            {% include 'inc/main/contact.html' %}
			<!-- /CONTACT -->
		</div>
	</div>
	<!-- /MAINPART -->
